/* Zahra A. S. */

:root {
    --fg-main: white;
    --fg-acc: #448ce3;
    --bg-main: #1b1b1b;
    --bg-acc: #232323;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-main);
    color: var(--fg-main);
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh; /* 100% of the users view height */
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    background: var(--bg-acc);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.title h1, 
.title p {
    text-align: right;
    margin: 10px 100px 0 0;
}

h1 {
    font-size: 64px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: var(--fg-acc);
    text-decoration: underline;
}