/* Zahra A. S. */

:root {
    --fg-main: white;
    --fg-acc: #448ce3;
    --fg-acc-2: #0073ff;
    --bg-main: #141414;
    --bg-acc: #1b1b1b;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-main);
    color: var(--fg-main);
    margin: 0;
}

.login-wrapper, 
.index-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the users view height */
}

.index-wrapper {
    flex-direction: column;
}

.index-wrapper h1 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--bg-acc);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    justify-content: center;
    align-items: center;
}

.title h1, 
.title p {
    text-align: right;
    margin: 10px 100px 0 0;
}

h1 {
    font-size: 64px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 250px;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background: var(--fg-acc);
    color: var(--fg-main);
    border: none;
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0 0px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: var(--fg-acc-2);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

a {
    cursor: pointer;
    color: var(--fg-acc);
    text-decoration: underline;
    transition: all 0.5s ease;
}

a:hover {
    color: var(--fg-acc-2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    text-align: center;
    background-color: var(--bg-acc);
    color: var(--fg-main);
}

.top-bar h2 {
    margin: 0;
}

.top-bar input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie {
    background: var(--bg-acc);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.movie img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}

.movie-description {
    font-size: 0.9em;
    color: var(--fg-main);
}

.movie-rating {
    margin-top: 0.9em;
    font-weight: bold;
    color: var(--fg-acc);
}

/* for smaller devices */
@media (max-width: 768px) {

    .title h1, 
    .title p {
        text-align: center;
        margin: 0;
    }

    .title p {
        margin: 10px 0 60px 0;
    }

    .login-wrapper {
        display: flex;
        flex-direction: column;
    }
}